.error-popup {
  position: absolute;
  background-color: #af2f00;
  padding: 0 50px;
  color: white;
  top: 110vh;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  max-width: 90%;
  width: 500px;
  transition: all 0.3s ease-in-out;
}
